{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container-fluid header-containe">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
Hello this is the cart
<div class="container content-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-heading mb-4">Checkout</h2>
            <a href="#">Add To Cart</a>
            <hr>
        </div>
    </div>
</div>

{% endblock %}