{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block extra_css %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-heading mb-4">Checkout</h2>
            <hr>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                {{ form | crispy}}
                {{ order_form.customer_name | as_crispy_field }}
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.time_slot | as_crispy_field }}
                {{ order_form.order_total | as_crispy_field }}
               
            </form>
        </div>
    </div>
    {% endblock %}