{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block extra_css %}

{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container content-container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-heading mb-4">Checkout</h2>
            <hr>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                {{ form | crispy}}
                {{ order_form.customer_name | as_crispy_field }}
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.time_slot | as_crispy_field }}
                {{ order_form.order_total | as_crispy_field }}
            
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-content px-2 w-auto">Payment ELEMENT HERE</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>

                <button id="submit-button" class="btn my-1 mx-2">
                    <span class="font-weight-bold">Complete Order</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </button>
                
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>€ {{ order_total|floatformat:2 }}</strong></span>
                </p>
            </form>

            <a href="{% url 'services' %}" class="btn my-1 mx-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-content">Back to Services</span>
            </a>
           
        </div>
    </div>
    {% endblock %}