.article-links {
    color: #7b217e !important;
    text-decoration: underline;
    
}

.article-links:hover {
    color: var(--headers) !important;
    font-size: 110%;
    
}

.article-section {
    
    color: var(--headers);
    font-family: 'Poppins', sans-serif;
      font-size:1.5rem;
      font-style: italic;
}