.order-history {
    max-height: 416px;
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: var(--main-text-color);
}

#profile-update-form input::placeholder {
    color: var(--color2)
}

