{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}


{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid content-container">
    <div class="row">
        <div class="col text-center mt3">
            <h3 class="pt-4">Customer Bookings</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>

<div class="col-12 col-lg-10">
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <!-- Hide customner name on small screens to avoic horizontal scrolling -->
                    <th class="d-none d-mb-block"> Customer Name</th>
                    <th> Service Booked </th>
                    <th> Date confirmed </th>
                    <th> Order Number </th>
                    <th> Order Date </th>
                    <th> Admin Options </th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                {% for item in order.lineitems.all %}
                <tr>
                    <!-- column 1 in table -->
                    <td class="d-none d-mb-block">
                        {{item.order.customer_name }}
                    </td>
                    <!-- column 2 in table -->
                    <td>
                        <p class="profile-text-content">{{ item.service.name }}</p>
                    </td>
                    <!-- column 3 in table -->
                    <td>
                        {% if item.date_picked %}
                            <p class="profile-text-content">
                             Confirmed Date: {{ item.date_picked }}
                            </p>
                        {% else %}
                            <p class="profile-text-content">
                             Contact Customer
                            </p>
                        {% endif %}
                    </td>
                    <!-- column 4 in table -->
                    <td>
                        <p class="profile-text-content">
                            {{ item.order.order_number|truncatechars:10 }}
                        </p>
                    </td>
                    <!-- column 5 in table -->
                    <td>
                        <p class="profile-text-content">
                            {{item.order.date }}
                        </p>
                    </td>
                    <!-- column 6 in table -->
                    <td>
                        {% if request.user.is_superuser %}
                                <small>
                                    <a href="{% url 'update_order' order.id %}">Edit</a> 
                                  
                                </small>
                                {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>






{% endblock %}