{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'articles/css/articles.css' %}">
{% endblock %}


{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid content-container">
    <div class="row">
        <div class="col text-center mt3">
            <h3 class="text-heading pt-4">Articles</h3>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row">
        <div class="article-content col-11">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for article in articles %}
                <div class="col-12  text-center">
                    <h5 class="article-title mt-4">{{ article.title }}</h5>
                </div>

                <div class="col-xs-4 col-md-3">
                    <img src="{{ article.image.url }}" alt="{{ article.title }}"
                        class="img-responsive img-thumbnail border-0 ml-3">
                </div>

                <div class="col-xs-10 col-md-9">
                    <article class="text-content">
                        <p class="text-left">{{ article.content }}
                        </p>
                        <p>Why not <a href="{% url 'get_serviceOne' %}" class="article-links">book a new Consult
                            </a>,
                            <a href="{% url 'get_serviceThree' %}" class="article-links">an accompanied shopping
                                trip
                                for your new house plants.</a>
                            Or been with us before? <a href="{% url 'get_serviceTwo' %}" class="article-links">Book
                                a
                                follow up.</a>
                        </p>
                        <p>
                            Not sure yet, why not <a href="{% url 'services' %}" class="article-links">have a look
                                through all our currently available services</a>
                        </p>
                        <hr>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
        <section class="col-xs-12 col-md-10 offset-md-4 mt-4">
                <h6 class="article-section">This is what you have previously ordered</h6>

                <div class="table-responsive text-centre">
                    <table class="table table-sm table-borderless">
                       
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    {% for item in order.lineitems.all %}
                                    {{ item.service.name }}
                                        {% if item.date_picked %}
                                        <li class="profile-text-content">
                                            Confirmed Date: {{ item.date_picked }}
                                        </li>
                                        {% else %}
                                        <li class="profile-text-content">
                                         Date not yet confirmed
                                     </li>
                                        {% endif %}
                                {% endfor %}

                                </td>
                               
                                    </tr>
                        {% endfor %} 


                        </tbody>
                    </table>
                </div>
                                    
        </section>
   



{% endblock %}