.fieldset-label {
    position: relative;
    right: .5rem;
}

.table-heading {
    color: var(--main-text-color);
    font-family: 'Hind', sans-serif;
    font-size:1.5rem;
}
/* content styles */
.text-content {
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
    font-size:1rem;

}


.fa-trash {
    height: 1rem;
    width: 1.5rem;
    color: var(--headers) !important;
}

/* add a red hover colour as warning */
.fa-trash:hover {    
    color: #e72d2d !important;
}

/* Media Queries for Cart/Checkout */

@media (max-width: 767px) { 
/* reduce sizings for small screens */
    .table-heading {       
        font-size:85%;
    }

   .btn-cart {
        padding:2px 4px;
        font-size:80%;
        line-height: 1.5;
    }

    .icon {
        font-size:80%;
    }
    

 } 

 
