{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid content-container">
    <div class="row">
      <div class="col-12 text-center">
          <hr>
          <h2 class="text-heading mb-4">Service Admin</h2>
          <h5 class="text-heading2">Edit a Service</h5>
          <hr>
      </div>
    </div>

  <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
          <form method="POST" action="{% url 'edit_service' service.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form |crispy }}
                <div class="text-right m-4">
                    <a href="{% url 'services' %}" class="btn mr-2">Cancel</a>
                    <button class="btn" type="submit">Update Service</button>
                </div>
        </form>
      </div>
  </div>
  
</div>
{% endblock %}