{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid content-container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
      <div class="image-container my-5">
        {% if service.image %}
        <a href="{{ service.image.url }}" target="_blank">
          <img src="{{ service.image.url }}" class="img-fluid" alt="{{ service.name }}">
        </a>
        {% else %}
        <a href="">
          <img src="{{ MEDIA_URL }}no-image.png" class="img-fluid" alt="{{ service.name }}">
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="product-details-container mb-5 mt-md-5">
        <h5 class="card-title">{{ service.name}}</h5>
        <p class="text-content">{{ service.description }}</p>
        <p class="text-content"><strong>€ </strong>{{ service.price }}</p>
        <p class="text-content">Time Requested: {{ service.time_slot }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}