{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="services-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card-deck">
                        <div class="card">

                          {% if service.image %}
                          <a href="{{ service.image.url }}" target="_blank">
                            <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.name }}">
                          </a>
                          {% else %}
                          <a href="">
                            <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top" alt="{{ service.name }}">
                          </a>
                          {% endif %}

                          <div class="card-body">
                            <h5 class="card-title">{{ service.name}}</h5>
                            
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">{{ service.price }}</small>
                            <small class="text-muted">{{ service.time_slot }}</small>
                          </div>
                        </div>  
                    </div>  
                    <p class="card-text">{{ service.description }}</p>
                    <!-- end of card desk -->
                </div>
            
            </div>
        </div>
    </div>
</div>
{% endblock %}